.activity-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}

.game-selection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;
    margin: 40px 200px;
    
}
